<!DOCTYPE html>

<html ng-app>
<head>
	<meta charset="UTF-8">
	<title>Calculator</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
	<script src="app.js"></script>
	<link rel="stylesheet" href="style.css">
</head>

<body>
	<h1>Eating at Restaurants Calculator</h1>
	<img src="restaurant.jpg" id ="Img1">
	<img src="url.jpg" id = "Img2">
	<div>
		<p>Average Meal Cost at Home</p>
		<input id="AMCH" type="text" ng-model="avgMealCostAtHome">
	</div>
	<div>
		<p>Average Meal at a Restaurant</p>
		<input id="AMR" type="text" ng-model="avgMealCostAtRest">
	</div>
	<p>
		Monthly Cost of Eating at Home
	</p>
	<div id="MCEH">
		{{ avgMealCostAtHome * (365/12) | currency }}
	</div>
	<p>
		Monthly Cost of Eating at Restaurants
	</p>
	<div id="MCER" ng-bind="avgMealCostAtRest * (365/12) | currency">
		This is where avgMealCostAtRest should display!
	</div>
	<p>
		What You Will Be Saving By Eating at Home
	</p>
	<div id="Savings">
		{{ (avgMealCostAtRest - avgMealCostAtHome) * (365/12) | currency }}
	</div>
	<br>
	<button id="calculate">Calculate</button>
</body>
</html>